.nav {
   flex: 0 1 20%;

   background-color: burlywood;
}
.nav a {
   list-style: none;
   text-decoration: none;
}

.nav div {
   margin-bottom: 20px;
}

.item a {
   color: #fff;
}
.item.active a {
   color: gold;
}