
.content__art {
   width: 400px;
   height: 200px;
}
.profile {
   display: flex;
   column-gap: 20px;
}
.photo img {
   width: 150px;
   height: 150px;
}
.info {
   color: #fff;
   font-size: 32px;
}